.main{
    height:100px;
    background-color: aquamarine;
    padding-top:25px;
}   
.main h1{
    text-align:center;
    color:white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
